
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
  }
  

html {
    font-family: 'Open Sans', sans-serif;
  }

  .header {
    background-color:#D93D59;
    color: white;
    padding: 15px;
    text-align: center;

  }



.row1 {
    display: flex;
}

.responimg {
    flex:33.3%;
    padding: 5px;
    height: auto;
    max-width: 100%;
}


.downloadbutton1 {
    width: 30vh;
    height: 4.5vh;
    background-color: #D93D59;
    border: none;
    border-radius: 1px;
    text-decoration: none;
    position: relative;
    bottom: 8px;
    opacity: 0.7;
    transition: 0.3s;
    
}

.downloadbutton1:hover {
    opacity: 1;
}


.downloadlink {
    text-decoration: none;
    color: white;
    width: 30vh;
    height: 5vh;
    font-family: 'Open Sans', sans-serif;
}


.rapport{
    height: 11.5vh;
    width: 30vh;
    text-align: center;
}


.laddaner {
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    padding: 10px;
  }

  .footertext1 {
    text-align: center;
    padding-top: 5px;
  }

  .footertext2 {
      font-size: 13px;
      padding: -5px;
  }